.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #e0f7fa;
  height: 100vh; /* Ensures the container covers the whole screen height */
  box-sizing: border-box;
}

mat-card {
  width: 200px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
  transition: transform 0.3s;
}

mat-card:hover {
  transform: translateY(-10px);
}

mat-card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

mat-card-content p {
  font-size: 18px;
  color: #ff5722;
  text-align: center;
}
